{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Goods{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <nav class="navbar">
    <ul class="menu">
        <li><a href="{% url 'reviewer:good-list' %}">All goods</a></li>
        
        {% if user.is_authenticated %}
        {% block menu %}{% endblock menu %}
        <li class="menu-right"><a href="{% url 'accounts:logout' %}?next={{ request.get_full_path }}" class="nav-link">Exit</a></li>
        <li class="menu-right">Hey, <a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}!</a></li>
    {% else %}
    <li class="menu-right"><a href="{% url 'accounts:login' %}?next={{ request.get_full_path }}" class="nav-link">Login</a></li>
    <li class="menu-right"><a href="{% url 'accounts:create' %}?next={{ request.get_full_path }}" class="nav-link">Sign up</a></li></li>
    {% endif %}
    </ul>
</nav>
    <div class="container">
        <h1>{% block page_header %}Goods{% endblock page_header %}</h1>
        {% block content %}{% endblock content %}
    </div>
</body>
</html>