{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Goods{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <nav class="navbar">
    <ul class="menu">
        <li><a href="{% url 'reviewer:good-list' %}">All goods</a></li>
        <li><a href="{% url 'reviewer:good-add' %}">Add good</a></li>
        
        {% block menu %}{% endblock menu %}
    </ul>
</nav>
    <div class="container">
        <h1>{% block page_header %}Goods{% endblock page_header %}</h1>
        {% block content %}{% endblock content %}
    </div>
</body>
</html>