{% extends "goods/base.html" %}
{% block title %}Good {{good.id}}{% endblock title %}
<body>
    {% block menu %}
    <li><a href="{% url 'reviewer:review-add' good.pk %}">Add review</a></li>
    {% endblock %}
    {% block page_header %}Good {{good.id}}{% endblock page_header %}
    {% block content %}
    <p>{{ good.summary }}</p>
    <p>Описание: {{ good.description }}</p>
    <p>Категория: {{ good.category }}</p>
    {% if good.picture %}
        <p>{{ good.picture }}</p>
    {% else %}
        <p><img src="http://dummyimage.com/100" /></p>
    {% endif %}
    <h3>Reviews:</h3>
    <div>
        {% if good.reviews.all %}
        <h3>Rating: {{ review.rating }} </h3>
        {% else %}
            <h3>Rating: 0</h3>
        {% endif %}
    </div>
    <div class="reviews_list">
        {% for review in good.reviews.all %}
            <div class="reviews">
                <p><b><a href="{% url 'accounts:detail' review.author.id %}">Author: {{ review.author }}</a> Rating: <b>{{ review.rating }}. Email: <b>{{ review.author.email }}.</b>.<br>Text: <b>{{ review.review_text }}</b></p><p><a href="{% url 'reviewer:review-delete' review.id %}">Delete review</a><a href="{% url 'reviewer:review-update' review.id %}">Update</a></p>
            </div>
        {% empty %}
            <p>No reviews</p>
        {% endfor %}
    </div>
    {% endblock content %}
</body>