{% extends "goods/base.html" %}
{% block title %}All goods{% endblock title %}
<body>
    
    {% block menu %}
    {% endblock %}
        
    <div>
        {% block content %}
        {% include "partial\search_form.html" %}
        <p>Список товаров</p>
        {% for good in goods %} 
                <p>Название: <a href="{% url 'reviewer:good-view' good.id %}"><b>{{ good.summary }}</b></a><br><a href="{% url 'reviewer:good-update' good.id %}">Update</a></a><br><a href="{% url 'reviewer:good-delete' good.id %}">Delete</a></p>
        {% endfor %}
        {% include "partial/paginate.html" %}
        {% endblock content %}
    </div>
    
</body>
</html>